.image{
    background-color: black;
}
#preloader{
    background: #fff url(./images/loading-unscreen.gif) no-repeat center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
    
    body {
      padding: 0;
      margin: 0;
      font-family: "Poppins", sans-serif;
    }